{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

chsh -s $(which zsh)
bash $HOME/.tmux/plugins/tpm/scripts/install_plugins.sh
{{ else if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "debian" -}}
# Debian-specific code
{{   else if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/usr/bin/sh

chsh -s $(which zsh)
bash $HOME/.tmux/plugins/tpm/scripts/install_plugins.sh
{{   end }}
{{ end }}
